$background-path: url('../img/toilet.jpg');

$header-font-family:'Monostate',sans-serif;

$header-font-color:#fff;

//post loop
$post-title-size: 1.6em;
$post-title-weight:900;
$post-title-color:#777;
